:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flower {
  display: block;
  width: 280px;
  height: 100px;
  /* margin-top: 200px;
  margin-left: 200px; */
  border-radius: 50px;
  background-color: pink;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.flower::before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(60deg);
  width: 280px;
  height: 100px;
  border-radius: 50px;
  background-color: pink;
}

.flower::after {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(-60deg);
  width: 280px;
  height: 100px;
  border-radius: 50px;
  background-color: pink;
}

.sub-flower {
  display: block;
  position: absolute;
  top: 43%;
  left: 45%;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  background-color: red;
  transform: translate(50%, 50%);
  transform-origin: center center;
  z-index: 10;
  animation-name: rotate-anti;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sub-flower::before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(60deg);
  width: 140px;
  height: 50px;
  border-radius: 25px;
  background-color: red;
}

.sub-flower::after {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(-60deg);
  width: 140px;
  height: 50px;
  border-radius: 25px;
  background-color: red;
}

@keyframes rotate {
  0% { transform: rotate(360deg); }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% { transform: rotate(0); }
}

@keyframes rotate-anti {
  0% { transform: rotate(0deg); }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% { transform: rotate(360deg); }
}
