body {
  background: linear-gradient(to bottom,  #ff4c87 0%,#eed1ff 100%); /* W3C */
}

svg.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12vmin;
  background-color: transparent;
  text {
    font-size: 64px;
    text-anchor: middle;
    @media screen and (max-width: 480px) {
      writing-mode: vertical-lr;
    }
  }
  tspan {
    stroke: transparent;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
    fill: transparent;
    @for $x from 1 through 5 {     
      &:nth-child(#{$x}) {
        animation: draw 4s .05s * $x + 1.5s forwards;
      }
    }
  }
  @keyframes draw {
    20%,
    80% {
    fill: transparent;
      stroke: #fff;
    }
    
    100% {
      fill: #fff;
      stroke: transparent;
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  }
}


.flowerfall {
  position: absolute;
  top: -240px;
  left: 0;
  width: 100%;
  height: calc(100% + 240px);
  z-index: 100;
  overflow: hidden;
  .heart {
      width: 48px;
      height: 48px;
      animation-name: heartrotate;
      animation-duration: 1s;
      animation-iteration-count: infinite; 
      animation-timing-function:linear;
      @for $i from 1 through 8 {
          & path:nth-child(#{$i}) {
              fill: red;
              fill-opacity: #{0.5 - 0.0125 * $i};
              transform: rotate(#{40 * $i}deg);
              transform-origin: 12px 20px;
          }
      }

      &:nth-child(3n) {
          width: 32px;
          height: 32px;
          animation-duration: 4s;
          animation-iteration-count: 30;
          transform-origin: right -24px;
      }
      
      &:nth-child(3n+1) {
          animation-duration: 6s;
          animation-iteration-count: 45;
          transform-origin: right -12px;
      }
      
      &:nth-child(3n+2) {
          width: 64px;
          height: 64px;
          animation-duration: 8s;
          animation-iteration-count: 60;
          transform-origin: right 24px;
      }
      
          
      /* different delays so they don't all start at the same time */
      &:nth-child(7n) {
        opacity:.3;
        animation-delay: 0s;
        animation-timing-function:ease-in;
      }
      &:nth-child(7n+1) {
        opacity:.4;
        animation-delay: 1s;
        animation-timing-function:ease-out;
      }
      &:nth-child(7n+2) {
        opacity:.5;
        animation-delay: 1.5s;
        animation-timing-function:linear;
      }
      &:nth-child(7n+3) {
        opacity:.6;
        animation-delay: 2s;
        animation-timing-function:ease-in;
      }
      &:nth-child(7n+4) {
        opacity:.7;
        animation-delay: 2.5s;
        animation-timing-function:linear;
      }
      &:nth-child(7n+5) {
        opacity:.8;
        animation-delay: 3s;
        animation-timing-function:ease-out;
      }
      &:nth-child(7n+6) {
        opacity:.9;
        animation-delay: 3.5s;
        animation-timing-function:ease-in;
      }
  }
  @keyframes heartrotate {
    0% {
      transform: translate3d(0, -48px, 0) rotate(0);
    }
    100% {
      transform: translate3d(15px, 1600px, 0) rotate(360deg);
    }
  }
}
